*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 250px 1fr 4fr 1fr;
}
header{
    background-color: rgb(233, 7, 7);
    grid-column: span 12;
   align-items: center;
   display: flex;
   justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
header img{
    width: 300px;
    height: 300px;
    
}
ul img{
    width: 350px;
}
nav{
    background-color: orange;
    grid-column: span 12;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    
}
aside{
    background-color: rgb(111, 219, 233);
    grid-column: span 3;
    display: flex;
    place-items: center;
}

main{
    background-color: seagreen;
    grid-column: span 9;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: fuchsia;
    grid-column: span 12;
    display: flex;
}
.fb{
    background-color: blue;
    color: yellow;
    flex: 1;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.gs{
    background-color: yellow;
    color: red;
    flex: 1;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}